<div style="position: absolute;">
    <img id="bg-game" [src]="bgImage" class="nonDraggableImage" style="width: 100%; height: auto;">
    <div class="overlay-main score">
        Score: {{totalScore}}
    </div>
    <div class="overlay-main left">
        Credit Artwork & Music: Riot Games, League of Legends
    </div>
    <div class="overlay-main play">
        <button mat-fab color="accent" type="button" *ngIf="!gameRunning" (click)="startGame()">
            <i class="material-icons">play_arrow</i> 
        </button>
        <button mat-fab color="accent" type="button" *ngIf="gameRunning" 
            [disabled]="dispMsg != ''" (click)="stopGame('Game Over')">
            <i class="material-icons">stop</i> 
        </button> 
    </div>
    <div class="overlay-main hitscore">
        {{hitScore}}
    </div>
    <div class="overlay-main disp-msg">
        {{dispMsg}}
    </div>
    <canvas #canvas class="overlay"></canvas>
    <div class="overlay-main bot-left">
        <div style="width: 64px;">
            <a href="https://www.paypal.com/donate/?hosted_button_id=US7XCR8Q4HZJW" target="_blank">
                <img [src]="'/assets/btn_donate_SM.gif'" style="width: 100%; height: auto;">
            </a>
        </div>
    </div>
</div>
<audio #audio id="audio" [src]="songURL" preload="metadata" crossorigin="anonymous"></audio>